<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h3>All Chats</h3>
        <form method="get" action="/chats/new">
            <button class="new-chat-btn">+ New Chat</button>
        </form>
        <div class="chat-list">
            <% for(let chat of chats) { %> 
                <div class="chat">
                    <div class="chat-header">
                        <p>From: <span class="chat-sender"><%= chat.from %></span></p>
                    </div>
                    <div class="msg">
                        <p><%= chat.message %></p>
                        <div class="chat-actions">
                            <form method="get" action="/chats/<%= chat._id %>/edit">
                                <button class="action-btn edit-btn">Edit</button>
                            </form>
                            <form method="post" action="/chats/<%= chat._id %>?_method=delete">
                                <button class="action-btn delete-btn">Delete</button>
                            </form>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <p>Received by: <span class="chat-receiver"><%= chat.to %></span></p>
                        <p class="timestamp">
                            <%= chat.created_at.toString().split(" ")[4] %> - 
                            <%= chat.created_at.toString().split(" ").slice(0,4).join("-") %>
                        </p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>
